<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>YouTube Clone in Angular</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/styles2.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="angular.js"></script>
	<script src="controller.js"></script>
	

</head>
<body ng-controller="myController">
<div id="total-wrapper">
	<div id="home">
		<h3>Home</h3>
	</div>

	<div id="nav-wrapper">
		<div id="nav-left">
			<img src="youtube.png"></img>
		</div>
		<div id="nav-center">
			<div id="search-bar">
				<form ng-submit="addVideo()">
					<input type="text" ng-model="videoSearch">
					<input type="submit" >				
				</form>
			</div>
			
			<div id="nav-bar-center">
					<div id="home-nav">Home</div>
					<div id="videos">Videos</div>
					<div id="channels">Channels</div>
				
			</div>

		</div>
		<div id="nav-right">
			<div id="account-links">
				<span id="sign-in"><a href="#">Create Account</a> or <a href="#">Sign-in</a></span>
			</div>
			<div id="nav-bar-right">
				<ul>
					<li>Upload</li>
					<li>History</li>
					<li>Subscriptions</li>
				</ul>

			</div>
		</div>

	</div>

	<div id="video-wrapper">
		<div id="featured-wrapper">
			<div id="featured">Featured</div>
			<div id="video">
				<iframe width="100%" height="300px" ng-src="{{mainUrl}}" frameborder="0" allowfullscreen></iframe>
				<span>{{mainTitle}}</span>
			</div>
			<div id="featured-previews">
				
			</div>
			
		</div>

		<div id="popup-wrapper">
						<!-- Button trigger modal -->
			<div id="modal-pic">
				<img data-toggle="modal" data-target="#myModal" src="bk_ad.jpg">
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Home of the Whopper</h4>
			      </div>
			      <div class="modal-body">
			      		<iframe width="420" height="315" src="https://www.youtube.com/embed/vX6FXRgcKQc" frameborder="0" allowfullscreen></iframe>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

			<div id="modal-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. 
			</div>
		</div>
	</div>
	<div id="more-videos-wrapper">
		<div id="more-videos-title">Popular Videos</div>
		<div id="more-videos">
			<div ng-repeat="video in suggestedVideosArray" class = "more-videos-previews">
				<div  class ="more-thumbnails"><a ng-href="{{video.url}}"><img ng-src="{{video.thumb}}"></a>
				</div>
				<div class="thumbnail-text"><p class="video-title">{{video.vidtitle}}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Button trigger modal -->
	<div id="button">
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
		  Add Video
		</button>
	</div>

		<!-- Modal -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Add Your Favorite Video</h4>
	      </div>
	      <div class="modal-body">
	      	<form id="form-submit">
	      		<div class="form-group">
		     		<label for="vidtitle">Title</label>
		      		<input class="form-control" type="text" id="vidtitle">
	      		</div>
	      		<div class="form-group">
		      		<label for="postedBy">Posted By</label>
		      		<input class="form-control" type="text" id="postedBy">
		      	</div>
		      	<div class="form-group">
		      		<label for="thumb">Image URL</label>
		      		<input class="form-control" type="text" id="thumb">
		      	</div>
		      	<div class="form-group">
		      		<label for="url">Video URL</label>
		      		<input class="form-control" type="text" id="url">
		      	</div>
	      		<input type="submit" id="submit-button">
	      	</form>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>




</div>
	
</body>
</html>